In [1]:
import pandas as pd
import pandas as pd
import warnings
import mapboxgl
import json
from mapboxgl.utils import rgb_tuple_from_str, df_to_geojson
from mapboxgl.viz import LinestringViz
import googlemaps
import geopandas as gpd
import pandas as p

import googlemaps

gmaps_key = googlemaps.Client (key = "AIzaSyC5HaRJHQHULsRSiGXFDWZEJ3mao8HN8B4")

In [2]:
data_2011 = pd.read_csv("/Users/jessicaparker/Desktop/Data/Fintech Project/Fintech Diagram/2011-Table 1.csv")
data_2013 = pd.read_csv("/Users/jessicaparker/Desktop/Data/Fintech Project/Fintech Diagram/2013-Table 1.csv")
data_2018 = pd.read_csv("/Users/jessicaparker/Desktop/Data/Fintech Project/Fintech Diagram/2018-Table 1.csv")

In [3]:
data_2011["LAT"] = None
data_2011["LON"] = None

for i in range(0,len(data_2011),1):
    geocode_result = gmaps_key.geocode(data_2011.iat[i,0])
    try: 
        lat = geocode_result[0]["geometry"]["location"]["lat"]
        lon = geocode_result[0]["geometry"]["location"]["lng"]
        data_2011.iat[i,data_2011.columns.get_loc("LAT")] = lat
        data_2011.iat[i,data_2011.columns.get_loc("LON")] = lon
        
    except:
        lat = None
        lon = None

In [4]:
data_2013["LAT"] = None
data_2013["LON"] = None

for i in range(0,len(data_2013),1):
    geocode_result = gmaps_key.geocode(data_2013.iat[i,0])
    try: 
        lat = geocode_result[0]["geometry"]["location"]["lat"]
        lon = geocode_result[0]["geometry"]["location"]["lng"]
        data_2013.iat[i,data_2013.columns.get_loc("LAT")] = lat
        data_2013.iat[i,data_2013.columns.get_loc("LON")] = lon
        
    except:
        lat = None
        lon = None

In [5]:
data_2018["LAT"] = None
data_2018["LON"] = None

for i in range(0,len(data_2018),1):
    geocode_result = gmaps_key.geocode(data_2018.iat[i,0])
    try: 
        lat = geocode_result[0]["geometry"]["location"]["lat"]
        lon = geocode_result[0]["geometry"]["location"]["lng"]
        data_2018.iat[i,data_2018.columns.get_loc("LAT")] = lat
        data_2018.iat[i,data_2018.columns.get_loc("LON")] = lon
        
    except:
        lat = None
        lon = None

In [6]:
data_2018

,City,Year,Fintech Index,Digitization_level,Unnamed: 4,LAT,LON
0,七台河市,2018,204.71104,258.80304,NaN,45.7717,131.003
1,三亚市,2018,256.60538,258.15137,NaN,18.2528,109.512
2,三明市,2018,235.55513,265.19318,NaN,26.2634,117.639
3,三门峡市,2018,224.93748,273.80157,NaN,34.7728,111.2
4,上海市,2018,275.55478,267.17636,NaN,31.2304,121.474
...,...,...,...,...,...,...,...
284,黄山市,2018,227.25192,254.71208,NaN,29.7147,118.338
285,黄石市,2018,230.50836,268.16159,NaN,30.2,115.039
286,黑河市,2018,205.27748,261.77686,NaN,50.2451,127.528
287,齐齐哈尔市,2018,200.24141,257.14023,NaN,47.3543,123.918
288,龙岩市,2018,240.49274,267.26355,NaN,25.0751,117.018

In [19]:
gdf_2011 = gpd.GeoDataFrame(data_2011, geometry=gpd.points_from_xy(data_2011['LON'],data_2018['LAT']), crs="EPSG:4326" )
gdf_2013 = gpd.GeoDataFrame(data_2013, geometry=gpd.points_from_xy(data_2013['LON'],data_2018['LAT']), crs="EPSG:4326" )
gdf_2018 = gpd.GeoDataFrame(data_2018, geometry=gpd.points_from_xy(data_2018['LON'],data_2018['LAT']), crs="EPSG:4326" )

In [20]:
gdf_2011.to_file("/Users/jessicaparker/Desktop/China_Cities_2011.geojson", driver = "GeoJSON")
gdf_2013.to_file("/Users/jessicaparker/Desktop/China_Cities_2013.geojson", driver = "GeoJSON")
gdf_2018.to_file("/Users/jessicaparker/Desktop/China_Cities_20118.geojson", driver = "GeoJSON")

In [16]:
increase_2011 = data_2018["Fintech Index"] - data_2011["Fintech Index"]
percentage_2011 = (increase_2011/data_2018["Fintech Index"])*100

increase_2013 = data_2018["Fintech Index"] - data_2013["Fintech Index"]
percentage_2013 = (increase_2013/data_2018["Fintech Index"])*100

data_2018["growth_since_2011"] = percentage_2011
data_2018["growth_since_2013"] = percentage_2013

In [17]:
data_2018

,City,Year,Fintech Index,Digitization_level,Unnamed: 4,LAT,LON,geometry,growth_since_2011,growth_since_2013
0,七台河市,2018,204.71104,258.80304,NaN,45.7717,131.003,POINT (131.00314 45.77173),95.071099,62.283422
1,三亚市,2018,256.60538,258.15137,NaN,18.2528,109.512,POINT (109.51191 18.25285),88.714189,59.650106
2,三明市,2018,235.55513,265.19318,NaN,26.2634,117.639,POINT (117.63868 26.26341),92.621686,55.696146
3,三门峡市,2018,224.93748,273.80157,NaN,34.7728,111.2,POINT (111.20037 34.77279),92.975825,60.771323
4,上海市,2018,275.55478,267.17636,NaN,31.2304,121.474,POINT (121.47370 31.23042),90.081826,50.997039
...,...,...,...,...,...,...,...,...,...,...
284,黄山市,2018,227.25192,254.71208,NaN,29.7147,118.338,POINT (118.33752 29.71470),93.654616,54.288615
285,黄石市,2018,230.50836,268.16159,NaN,30.2,115.039,POINT (115.03884 30.20003),97.431764,62.005716
286,黑河市,2018,205.27748,261.77686,NaN,50.2451,127.528,POINT (127.52829 50.24513),111.316390,62.348524
287,齐齐哈尔市,2018,200.24141,257.14023,NaN,47.3543,123.918,POINT (123.91819 47.35435),102.207335,62.545210
288,龙岩市,2018,240.49274,267.26355,NaN,25.0751,117.018,POINT (117.01754 25.07512),90.789742,56.443592

In [18]:
gdf_2018 = gpd.GeoDataFrame(data_2018, geometry=gpd.points_from_xy(data_2018['LON'],data_2018['LAT']), crs="EPSG:4326" )
gdf_2018.to_file("/Users/jessicaparker/Desktop/China_Growth_2011_2018.geojson", driver = "GeoJSON")

0      194.621036
1      227.645381
2      218.175133
3      209.137477
4      248.224778
          ...
284    212.831914
285    224.588362
286    228.507480
287    204.661408
288    218.342738
Name: Fintech Index, Length: 289, dtype: float64

In [12]:
percentage

0       95.071099
1       88.714189
2       92.621686
3       92.975825
4       90.081826
          ...
284     93.654616
285     97.431764
286    111.316390
287    102.207335
288     90.789742
Name: Fintech Index, Length: 289, dtype: float64